
.editPage{
    display: flex;
    padding: 1rem;
    gap: 1rem;
}
.first img{
    height: 38rem;
    width: 38rem;
}
.card{
    height: 38.4rem;
    width: 75rem;
}
.details{
    font-size: 1.3rem;
}
.desc{
    height: 20rem;
}