body{
    min-height: 100vh;
}
.bookRequest{
    padding: 2rem;
    
  
}
/* .bookRequest .card{
      margin-bottom: 1rem;
      
      
} */
.card1{
    display: flex;
    width: max-content;
    gap: 3rem;
    background-color: rgba(0, 255, 255, 0.413);
    padding: 2rem;
    border-radius: 10px;
   
}
.info .i{
    display: flex;
    width: 15rem;
}

#de{
    width: 40rem;
    height: 10rem;
    overflow: scroll;
}

.status{
    display: flex;
    flex-direction: column;
}
.bookbtn{
    align-items: center;
    text-align: center;
}
.sta{
    padding: 1rem;
    font-size: 1.4rem;
    border-radius: 10px;
}
.green{
    background-color: green;
}


 .red{
    background-color:red;

}

.yellow{
    background-color: orange;
}


